{% extends 'plantilla.html'%}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
    .hidden {
        display: none;
    }
    .imagen-con-zoom {
        width: 200px; /* ajusta el tamaño según tus necesidades */
        transition: transform 0.3s;
    }

    .imagen-con-zoom:hover {
        transform: scale(1.8); /* el valor 1.2 indica el nivel de zoom */
    }
    .contenido-principal {
        margin-left: 250px; /* Ancho del menú lateral */
        padding: 20px;
    }

    a {
        text-decoration: none; /* Elimina el subrayado */
        color: inherit; /* Hereda el color del texto de su contenedor */
    }

    /* Estilo para los enlaces cuando el cursor pasa sobre ellos */
    a:hover {
        color: white; /* Cambia el color del texto a blanco en el hover */
    }

    .filtro{
        display: none;
    }
    .estatico{
        position: fixed;
        
    }
</style>
{% endblock %}

{% block content %}
<div class="contenido-principal">
    <h2 class="">Inventario</h2>
    <input type="text" name="buscador" id="buscador" class="" placeholder="Buscar...">

    <a href="#"  id="toggle-button" style="float: right; padding-left: 10px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-camera-fill" viewBox="0 0 16 16">
            <path d="M10.5 8.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
            <path d="M2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4zm.5 2a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m9 2.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0"/>
        </svg>
    </a>

  {% if stock =='desactivado' %}
   <a href="/stock?estado=activado" style="float: right;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
      </svg>
   </a>
  {% else %}
  <a href="/stock?estado=desactivado" style="float: right;">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
        <path d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7 7 0 0 0 2.79-.588M5.21 3.088A7 7 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474z"/>
        <path d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12z"/>
      </svg>
   </a>
  {% endif %}
    <table class="table mt-4">
        <thead>
            <tr>
              <th>id</th>
                <th>producto</th>
                <th>Marca</th>
                <th>Stock</th>
                <th>Ubicacion</th>
                <th>nota</th>
                <th id="img-control">img</th>
                <th>Control</th>
                
            </tr>
        </thead>
        </div>
        <tbody>
            {% set path = 'static/img/productos/' %}
            
            {% for producto in data %}


                
                
            <tr class="articulo" id="row">
              <td>{{ producto.0 }}</td>
                <td>{{ producto.1 }}</td>
                <td>{{ producto.2 }}</td>
                <td>{{ producto.3 }}</td>
                <td>{{ producto.4 }}</td>
                <td >{{ producto.5 }}</td>
                <td id="img-control2">
                    {%if producto[6] == None %}
                        sin imagen
                    {% else %}
                    <img src="{{path}}{{producto.6}}" alt="" class="imagen-con-zoom" style="height: 130px; width: 120px; margin-left: 0;">
                    {% endif %}
                    
                </td>
                <td>
                    <a href="/actualizar?id={{ producto.0 }}" class="btn btn-primary">Actualizar</a>
                    <button onclick='confirmarEliminacion("{{ producto.0  | safe }}")' class="btn btn-danger"> Eliminar </button>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <form action="/exportar" method="post">
        <input type="text" name="datos" value="{{data}}" style="display: none;" >
        
    </form>
    <button class="btn btn-danger" onclick='esportar()' style="display: none">Exportar</button>
    <div id="prue"></div>
</div>



<!-- Agregar enlace al archivo JS de Bootstrap al final del cuerpo del documento si es necesario -->


<script src="./js/inventario.js"></script>
<script>

document.getElementById('toggle-button').addEventListener('click', function() {
    const header = document.getElementById('img-control');
    const cells = document.querySelectorAll('#img-control2');
    
    header.classList.toggle('hidden');
    cells.forEach(cell => cell.classList.toggle('hidden'));
});


function confirmarEliminacion(link) {
    // Muestra una alerta de confirmación
        var confirmacion = confirm("¿Desea eliminar este elemento?");

        // Si el usuario hace clic en "Aceptar", redirige la página
        if (confirmacion) {
            window.location.href = `/eliminar?id=${link}`; // Reemplaza con la URL de la página de redirección
        }
    }
    
        // Función para filtrar elementos
        function filtrarElementos(valor) {
            document.querySelectorAll(".articulo").forEach(fruta => {
                const contenido = fruta.textContent.toLowerCase();
                if (contenido.includes(valor)) {
                    fruta.classList.remove("filtro");
                } else {
                    fruta.classList.add("filtro");
                }
            });
        }

        // Agregar un event listener para el campo de búsqueda
        const campoBusqueda = document.getElementById('buscador');
        campoBusqueda.addEventListener("input", e => {
            const valorBusqueda = e.target.value.toLowerCase();
            filtrarElementos(valorBusqueda);
        });

        // Obtener la palabra de la URL y establecerla en el campo de búsqueda
        const urlParams = new URLSearchParams(window.location.search);
        const palabra = urlParams.get('search');
        if (palabra) {
            campoBusqueda.value = palabra;
            filtrarElementos(palabra.toLowerCase());
        }

    var tabla = document.getElementsByClassName('articulo');
    var table = []
    for(var i = 0; i<tabla.length; i++){
        if(!tabla[i].classList.contains('filtro')){
            table.push(tabla[i]);
        }
    }

    console.log(table[1].innerHTML);
    
    console.log(typeof(table[1]));;
    
    var prue = document.getElementById('prue');
    //prue.innerHTML = `<a href='/prue?export=${table}'><button></button></a>`
    
    console.log(table);

    function esportar(){
        var campoBusquedaCompleto = document.getElementById('buscador');
        var textoCampo=campoBusquedaCompleto.value;
        console.log(textoCampo);
        if(textoCampo != ""){
            window.location.href = `/palabra/${textoCampo}`
        }
        

    }

</script>
{% endblock %}